:root {
    --nav-color: #0089b7;
    --dark-color: #015d7c;
    --extradark-color: #013243;
    --other-color: rgb(248, 236, 168);
    --new-color: rgb(242, 242, 90);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-size: 100%;
    font-family: sans-serif;
    color: white;
    scroll-behavior: smooth;

}

header {
    background-color: var(--nav-color);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--nav-color);

}

nav {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

nav ul li {
    list-style: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;

}

nav ul li:hover {
    border-bottom: 2px solid var(--other-color);
    transition: 0.3s ease-in-out;

}

nav ul {
    display: flex;
    gap: 1.8rem;
}

.logo {
    font-size: 2rem;
}

main {}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#home {
    background-color: var(--dark-color);
    border-bottom: 2px solid blue;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.hero .content {
    display: grid;
    place-items: center;
    gap: 0.5 rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero .text {
    font-size: 4rem;
    color: var(--new-color);
}

.hero .content h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero .name {
    font-size: 3.5rem;
}
.hero .image img{
    height: 100%;
}

.hero h2 {
    font-size: 2.2rem;
    overflow: hidden;
    border-right: 0.30rem solid var(--new-color);
    white-space: nowrap;
    margin: 0 auto;
    animation: type 4s steps(35, end), blink 1s step-end infinite;
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    form,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--new-color);
    }
}

#Project {
    background-color: var(--extradark-color);
}

#Project h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 1rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;

}

.grid-items {
    display: grid;
    place-items: center;

}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;

}

.card:hover {
    transform: scale(1.04);
    transition: 0.6s ease-in-out;
}

.card img:hover {
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}

.card .content {
    position: relative;
    top: -3rem;

    transform: translateY(100px);
    margin-bottom: -3rem;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.card .content h2 {
    text-align: center;
}

.card:hover .content {
    background-color: white;
    color: var(--extradark-color);
    transform: translateY(0px);
}

.card:hover .content a {
    text-decoration: none;
    color: var(--extradark-color);

}

.content a {
    text-decoration: none;
    color: var(--extradark-color);
}

#contact {
    background-color: var(--dark-color);
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 8rem 0;
}

.contact-me ul {
    display: flex;
    gap: 2.5rem;
}

.contact-me h1 {
    font-size: 4rem;
}

.contact-me ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.contact-me ul li {
    list-style: none;

}

.icons-link {
    display: flex;
    flex-direction: row;
    place-items: bottom;
    gap: 0.7rem;
}

.icons-link p {
    font-size: 2rem;
}

.three {
    display: flex;
    flex-direction: row;

    gap: 0.7rem;
}

.two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 0.7rem;
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer {
    background-color: #0089b7;

}

footer h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 200;
    padding: 0.6rem;
}
@media (max-width:700px) {

    html,body{
        font-size: 70%;
    }
    #home .container .hero{
        flex-direction: column;
    }
    .hero .image{
        display: grid;
        place-items: center;
    }
    .contact-me h1 {
        font-size: 4rem;
    }
    }

@media (max-width:500px) {

    html,body{
        font-size: 50%;
    }
    #home .container .hero{
        flex-direction: column;
    }
    .hero .image{
        display: grid;
        place-items: center;
    }
    .contact-me h1 {
        font-size: 3.5rem;
    }
}