body,html{
    margin: 0;
    height: 100%;

}
.img1{
    background-image: url(images/developer.png);
    min-height: 100%;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}