*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.3;
    font-size: 20px;
    background-color: rgb(216, 208, 208);
    background-color: white;
   

}

nav .logo-media{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  align-items: center;
    padding:15px;
   
    border-bottom:  rgb(230, 228, 228) 2px solid ;
}
.search-bar{
    display: flex;
}
nav .logo img{
    width: 150px;
    height: auto;
}
.search-bar input{
    min-width:550px;
    border: 0.1px rgb(230, 228, 228)  solid  ;
    padding: 5px 10px;
}
button{
    padding: 5px 15px;
    border: none;
}
.mic{
    margin-left: 8px;
    padding: 12px 12px;
    border-radius: 50%;
    background-color:rgb(230, 228, 228);
    display: grid;
    place-items: center;
}
.main-icons{
    display: flex;
    gap: 20px;
    margin-right: 60px;
}
.main-icons img{
    width: 50%;
}
.all-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin:10px 20px ;
    padding-bottom: 10px;
   
    
}
.dark{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px ;
    background-color: black;
    color:white;
}
.light{
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px 12px ;
    background-color:#e6e4e4;
    color:rgb(86, 75, 75);
}
aside{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
}
.container{
    display: flex;
}
.main-container{
    width: 100%;
}
.side-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.home-icon{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-icon p{
    font-size: 15px;
}
main{
    min-height: 100vh;
    background-color: white;
   
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(410px , 1fr));
}

.card{
    max-width: 410px;
    display: flex;
    flex-direction: column;
    
    padding: 15px ;
}

.avator-content{
    display: flex;
    max-width: 260px;
    gap: 5px;

}
.both{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 400;
    gap: 10px;
}
.main-content h1{
    font-size: 20px;
    text-transform: capitalize;
}
.main-content h3{
    font-size: 15px;
    
}
.content{
    font-size: 13px;
    display: flex;
    gap: 12px;
}
.space{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.avator-img img{
    width: 35px;
    height: 30px;
    border-radius: 50%;
}
.lst{
    text-align: center;
    font-size: 50px;
}
@media (max-width:550px){
        
    .home-icon p{
        font-size: 8px;
        line-height: 0;
    }
    .side-bar img{
        width: 50%;
    }
    .home-icon img{
        width: 50%;
    }
    aside{
        padding: 10px 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
     
    }
    .side-icons{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center ;
        gap: 10px;
        margin-top: 10px;
    }
    .home-icon{
        display: grid;
        place-items: flex-start;
    }
   /* nav bar */
   nav .logo img{
    width: 75px;
    height: auto;
}
.search-bar{
    width: 100px;
    height: 30px;
}
.search-bar input{
    min-width:100px;
    border: 0.1px rgb(230, 228, 228)  solid  ;
    padding: 3px 6px;
}
button{
    padding: 3px 3px;
}
button .image{
    width: 5px;
}
nav .logo-media{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
   
    border-bottom:  rgb(230, 228, 228) 2px solid ;
}
.main-icons{
    
    display: flex;
    gap: 5px;
    margin-right: 10px;
}
.main-icons img{
    
    width: 20px;
}
.mic{
    margin-left: 2px;
    padding: 4px 4px;
    border-radius: 50%;
    background-color:rgb(230, 228, 228);
    display: grid;
    place-items: center;
}
.all-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin:5px 7px ;
    padding-bottom: 6px;
    font-size: 12px;
   
    
}
.dark{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px ;
    background-color: black;
    color:white;
}
.light{
    border: 1px solid black;
    border-radius: 20px;
    padding: 4px 12px ;
    background-color:#e6e4e4;
    color:rgb(86, 75, 75);
}


}